.main {
  background: #212428;
  height: 100vh;
}

.title {
  // padding-top: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.1;

  color: #cedff6;
  text-align: center;
  margin: auto 0;
  // padding-bottom: 15px;
  // display: flex;
  // align-items: center;
}

.section-hero {
  padding-top: 30px;

  &__box {
    width: 90%;
    min-height: 120px;
    border-radius: 30px;
    // border: solid 1px #ff014f;
    background: #23252b;
    box-shadow: -4px 4px 18px rgba(0, 0, 0, 0.43);
    border-radius: 10px;
    margin: 0 auto 20px auto;
    // text-align: center;
  }
}

.section-hero-btn {
}

.hero-button {
  display: flex;
  margin: 30px auto 30px auto;
}

.box-section-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  &__text {
    position: relative;
    z-index: 100;
    text-align: center;
    padding: 15px;
  }
}

.text {
  position: relative;
  z-index: 100;
  font-size: 20px;
  margin-top: 15px;
  padding-top: 13px;
  text-align: center;
  width: 50px;
  height: 50px;
  border: 1px solid #ff014f;
  // transform: rotate(90deg);
  border-radius: 50%;
}

.box-section-hero__texti-history {
  padding: 15px;
  overflow: auto;
  max-height: 300px;
  // scroll-padding-top: inherit;
}

.box-section-hero__title {
  color: #ffffff;
  padding-bottom: 15px;
  text-align: center;
}
